*,
html,
body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    height: 8000px;
}

:root {
    --bg-primary: rgba(255, 255, 0, 0.135);
    --text-primary: black;
    --bg-secondary: #333;
    --text-secondary: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.wrapper-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.col-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.absolute {
    position: absolute;
}

.box-shadow {
    box-shadow: 1px -3px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -3px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -3px 8px 0px rgba(0, 0, 0, 0.75);
}

.f-1em {
    font-size: 1em;
}

.f-2em {
    font-size: 2em;
}

.f-3em {
    font-size: 3em;
}

.f-4em {
    font-size: 4em;
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.gap {
    gap: 20px;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-justify {
    text-align: justify;
}

.mt-50 {
    margin-top: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.absolute {
    position: absolute;
}

/* Card */

.card1 {
    width: 36rem;
}

.img-card1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text-card1 {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 310px;
    margin-left: 10px;
    background-color: var(--bg-primary);
    border-radius: 10px;
}

/* Thumbnail */
.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.img-thumbnail {
    width: 40%;
    height: 100%;
    border-radius: 10px;
}

.text-thumbnail {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 310px;
    margin-left: 10px;
    background-color: var(--bg-primary);
    border-radius: 10px;
}

/* Navbar 1*/

#header {
    width: 100%;
    height: 40px;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    position: fixed;
    z-index: 999;
}

.container>h4 {
    font-size: 2em;
}

.navbar,
ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
    color: var(--text-primary);
    gap: 20px;
    font-size: 1em;
}

.li-navbar:hover {
    transform: translateY(-3px);
    transition: 0.3s all ease-in-out;
}

/* Navbar 1 */

/* Container 1 */

.heading-container1 {
    color: var(--text-primary);

}

.container1 {
    margin-top: 50px;
    width: 100vw;
    gap: 3em;
}

.img-slide-show {
    width: 30em;
    border-radius: 10px;
}

/* Container 2 */

#container2 > .wrapper > a:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}